body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding-bottom: 3rem;
  min-height: 100%;
}

h1  {
  font-size: 5.0em;
  font-weight: 900;
}

h2 {
  font-weight: 600;
}

#main-block {
  word-wrap: break-word;
}

#featured-image {
  margin-top: 20px;
}

#belowImage {
  margin-bottom: 50px;
}


.disabled {
  opacity: .25;
}

.jumbotron {
  padding-top: 0;

}

.newest {
  background-color: #1693A5;
}

.arrow {
  font-size: 5.0em !important;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}
