<!DOCTYPE html>
<html>
  <head>
  	<title>Jaxtory - Admin</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="admin.css">
  </head>
  <body>
    <h1>Jaxtory - Admin</h1>
    <ul>
      {% for story in storyList %}
        <li>
          <a href="{{ baseurl }}/story?id={{ story._id }}">{{ story.name }} ({{ story._id }}) </a>
          {% if defaultStory.storyID|string == story._id|string %}
            <strong> Default </strong>
          {% else %}
            <a href="{{ baseurl }}/setDefault?id={{ story._id }}"> Make Default </a>
          {% endif %}
          <!--a class="btn btn-primary btn-xs" href="{{ baseurl }}/remStory?id={{ story._id }}">X</a-->
          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#delModal" data-storyid="{{ story._id }}" data-storyname="{{ story.name }}">X</button>
        </li>
      {% endfor %}
    </ul>

      <form class="form-inline" action="{{baseurl}}/addStory" method="post">
        <input type="text" name="name" value="" required>
        <input class="btn btn-primary btn-sm" type="submit" value="Create New Story">
      </form>

    <!-- Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="delModalLabel">Delete Story</h4>
          </div>
          <div class="modal-body">
           <p class= "modal-message">
             Are you sure you want to delete this story?
           </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-primary btn-delete">Delete!</a>
          </div>
        </div>
      </div>
    </div>



    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
      $('#delModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var storyid = button.data('storyid') // Extract info from data-* attributes
        var storyname = button.data('storyname')
        var modal = $(this)
        modal.find('.modal-message').html('Do you really want to delete <strong>' + storyname + '</strong>?')
        modal.find('.btn-delete').prop('href', '{{ baseurl }}/remStory?id=' + storyid)
      })
    </script>

  </body>
</html>
