<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jaxtory</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="text-center">Jaxtory</h1>
    <div class="container">
      <div id="previous-image" class="col-xs-1 text-center arrow">&lt;</div>
      <div id="main-image" class="container jumbotron block-center col-xs-10">
        <img class="img-responsive center-block" src="{{ currentPage.url }}"></img>
      </div>
      <div id="next-image" class="col-xs-1 text-center arrow">&gt;</div>
    </div>

    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
